<div class="text-layout">
    <h1>Pipes No tan Comunes</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend=" I18nPluralPipe" [toggleable]="true">
           <p>Actualmente  {{cliente.length | i18nPlural :clientesMapa}} </p> 
           <button pButton  label="Borrar Cliente" class="p-button-rounded  p-button-help" (click)="borrarCliente()"></button>
        </p-fieldset>
     
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend=" I18nSelectPipe" [toggleable]="true">
            <p>
                Saludos {{nombre}} , es un placer {{genero|i18nSelect :invitacionMap}} a nuestro evento
            </p>
            <button pButton label="Cambiar Persona" class="p-button-rounded  p-button-danger" (click)="cambiarPersona()"></button>
            
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend=" slicePipe" [toggleable]="true">
           <b>Original</b>
            <pre>{{ cliente }}</pre>
            <b>Slice:0:2</b>
            <pre>{{ cliente| slice:0 :2}}</pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend=" Json Pipe" [toggleable]="true">
          <pre> {{heroes | json}} </pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend=" Keyvalue Pipe" [toggleable]="true">
           <ul>
               <li *ngFor="let item of persona | keyvalue">{{item.key | titlecase}} : {{item.value}} </li>
           </ul>
        </p-fieldset>
    </div>
 
    
    <div class="p-col p-md-6">
        <p-fieldset legend=" Async Pipe" [toggleable]="true">
            <pre> {{miObservable | async}} </pre>

        </p-fieldset>
    </div>
</div>